{{#partial "content"}}

    <style>
    @import url("https://fonts.googleapis.com/css?family=Fascinate+Inline|Kalam|Orbitron|Luckiest+Guy&display=swap");
    @import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');
        body {
       text-align:center;

             }

       h3{
         color:black;
         width:60%;
         height:100%;
         border-radius:10px;
         font-family: 'Bubblegum Sans', cursive;
           }
       h4{
         color: #ffff;
         width:60%;
         height:100%;
         border-radius:10px;
         font-family: 'Bubblegum Sans', cursive;
       }
    </style><br><br><br>
    <h3 class="text-center">There's only one earth</h3>
    <br>
    <h4 class="text-center">Fill the form to add a new sighting or to view the existing animals.</h4>
{{/partial}}

{{>layout.hbs}}