{{#partial "content"}}

    <style>
    @import url("https://fonts.googleapis.com/css?family=Acme|Fascinate+Inline|Kalam|Orbitron|Luckiest+Guy&display=swap");
    @import url('http://fonts.cdnfonts.com/css/comfortaa-3');
        body {
         text-align: center;
         background-color: #A2C954;

       }
       h3{
        font-weight: bold;
       }
       .hero{
       color:#ffff;
       height:100%;
       border-radius:10px;
       font-family: 'Comfortaa', sans-serif;
       padding: 15em;
       background-image:linear-gradient(
       rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
       url("./images/brian-garrity.jpg");
       }
       background-position: center;
    </style><br><br><br>
    <div class="hero">
        <h3>Did You Know?</h3>
        <h3>There is Only One Earth.<br>
        </h3>
    </div>
{{/partial}}

{{>layout.hbs}}